#commonly used packages
numpy==1.26.3 
pandas==2.1.4
#for crawling
requests==2.31.0
beautifulsoup4==4.12.2 
bs4==0.0.1 
#for summarization
jieba==0.42.1
networkx==2.8.8
scipy==1.11.4
textrank4zh==0.3
#for web portal
flask==3.0.0